.about-us {
    margin-bottom: 70px;

    .about-us-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 35px 69px;
    }

    .about-us-content {
        flex: 0 0 45%;
        max-width: 527px;
        margin-bottom: 100px;

        .sub-title {
            line-height: 1.5em;
            margin-bottom: 13px;
            color: var(--neutural-dark);
        }

        .title-page {
            line-height: 1.5em;
            margin-bottom: 9px;
        }

        .about-us-sum {
            line-height: 1.5em;
            color: var(--neutural-dark);
        }
        
    }

    .about-us-image {
        flex: 1;
    }
}

.about-policy {
    margin-bottom: 95px;

    .block-heading {
        margin-bottom: 77px;
        text-align: center;

        .title {
            font-size: 30px;
            color: var(--violet);
            line-height: 1.5em;
            margin-bottom: 14px;
        }

        p {
            color: var(--neutural-darker);
            font-size: 18px;
            line-height: 1.5em;
        }
    }

    .policy-wrap {
        display: flex;
        justify-content: space-between;
        gap: 0 36px;
    }

    .policy-item {
        position: relative;
        text-align: center;
        max-width: 227px;

        .policy-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 106px;
            height: 106px;
            padding: 20px;
            border-radius: 50%;
            background-color: #EEEEEE;
            margin: 0 auto 36px;
        }

        .policy-content {
            font-size: 20px;
            line-height: 1.5em;
        }

        .policy-line {
            position: absolute;
            top: 0;
            right: 0;
            width: 156%;
            transform: translateX(calc(100% - 20px));
        }
    }
}

.mission {
    margin-bottom: 95px;

    .block-heading {
        margin-bottom: 46px;
        text-align: center;

        .title {
            font-size: 30px;
            color: var(--violet);
            margin-bottom: 14px;
        }

        p {
            font-size: 18px;
            color: var(--neutural-darker);
            line-height: 1.5em;
        }
    }

    .mission-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px 20px;
    }

    .mission-item {
        .mission-image {
            aspect-ratio: 420/248;
            margin-bottom: 18px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }

        .title {
            font-size: 24px;
            color: var(--violet);
            line-height: 1.5em;
            margin-bottom: 14px;
        }

        .mission-content {
            color: #1A202C;
            line-height: 1.5em;
        }
    }
}

.partners {
    margin-bottom: 56px;

    .block-heading {
        margin-bottom: 35px;
        text-align: center;

        .title {
            font-size: 30px;
            color: var(--violet);
            margin-bottom: 14px;
        }

        p {
            font-size: 18px;
            line-height: 1.5em;
            color: var(--neutural-darker);
        }
    }

    .partner-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background-color: #fff;
        border: 1px solid var(--violet-light);
        padding: 10px;
        aspect-ratio: 244/153;
    }

    .partner-list {
        position: relative;
    }

    .swiper-button-prev {
        left: 0;
        transform: translateX(-50%);
    }

    .swiper-button-next {
        right: 0;
        transform: translateX(50%);
    }
}

@include large-desktop {
    .about-policy {
        .policy-item {
            .policy-line {
                top: 20px;
                width: 120%;
            }
        }
    }
}

@include desktop {
    .about-policy {
        .policy-item {
            .policy-line {
                width: 170px;
            }
        }
    } 
}

@include tablet {
    .about-policy {
        .policy-item {
            .policy-line {
                display: none;
            }

            .policy-icon {
                margin: 0 auto 20px;
            }

            .policy-content {
                font-size: 16px;
            }
        }
    } 

    .partners {
        padding: 27px 0 42px;
        background-color: #fff;
        margin-bottom: 26px;

        .swiper-button-next, .swiper-button-prev {
            display: none;
        }

        .partner-list {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 19px 17px;
            }
        }
    }
}

@include landscape-phone {
    .about-us {
        padding: 15px 0 20px;
        background-color: #fff;
        margin-bottom: 11px;

        .about-us-wrap {
            flex-wrap: wrap-reverse;
        }

        .about-us-content {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 0;
        }
    }

    .about-policy {
        padding: 27px 0;
        background-color: #fff;
        margin-bottom: 11px;

        .policy-item {
            .policy-icon {
                padding: 26px;
            }
        }
    }

    .mission {
        padding: 27px 0;
        background-color: #fff;
        margin-bottom: 11px; 

        .mission-wrap {
            grid-template-columns: 1fr;
        }
    }
}

@include extra-mobile {
    .about-us {
        .about-us-content {
            .sub-title {
                font-size: 12px;
                margin-bottom: 9px;
            }
    
            .title {
                font-size: 24px;
            }
    
            .about-us-sum {
                font-size: 12px;
            }
        }
    }

    .about-policy {
        .block-heading {
            text-align: left;
            margin-bottom: 15px;

            .title {
                font-size: 24px;
                margin-bottom: 9px;
            }

            p {
                font-size: 12px;
            }
        }

        .policy-wrap {
            flex-wrap: wrap;
        }

        .policy-item {
            flex: 0 0 100%;
            max-width: 100%;
            display: flex;
            gap: 28px;
            align-items: center;
            padding: 22px 26px 16px;
            border-bottom: 1px solid var(--violet-light);
            text-align: left;

            &:last-child {
                border-bottom: none;
            }

            .policy-icon {
                padding: 0;
                background-color: transparent;
                flex: 0 0 46px;
                max-width: 46px;
                width: initial;
                height: initial;
                margin: 0;
            }

            .policy-content {
                flex: 1;
                max-width: 224px;
                font-size: 14px;
                color: var(--violet-darker);
            }
        }
    }

    .mission {
        .block-heading {
            text-align: left;

            .title {
                font-size: 24px;
                margin-bottom: 11px;
            }

            p {
                font-size: 12px;
            }
        }
    }
    
    .partners {
        margin-bottom: 26px;

        .block-heading {
            text-align: left;
        }

        .partner-list {
            .swiper-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }
    } 
}