.blogs {
    margin-bottom: 136px;

    .list-blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 55px 40px;
        margin-bottom: 72px;
    }

    .pagination {
        padding-top: 64px;
        border-top: 1px solid #DDDDDD;
    }
}

@include tablet {
    .blogs {
        .list-blog {
            gap: 40px 30px;
        }
    }
}

@include landscape-phone {
    .blogs {
        .list-blog {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 40px;
        }

        .pagination {
            padding-top: 40px;
        }
    }
}

@include small-mobile {
    .blogs {
        .list-blog {
            grid-template-columns: 1fr;
        }
    }
}