.banner-blog-detail {
    height: 550px;
}

.blog-detail {
    margin-bottom: 96px;

    .heading {
        text-align: center;

        h1 {
            font-size: 52px;
            font-weight: 800;
            line-height: 1.5em;
        }
    }

    .blog-detail-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px 30px;
        padding-bottom: 24px;
        border-bottom: 1px solid #EDEDED;
        margin-bottom: 24px;
    }

    .blog-post {
        .blog-date, .blog-comment {
            display: inline-flex;
            align-items: center;
            gap: 6px;
            font-size: 14px;
        }

        .blog-date {
            margin-right: 20px;
        }
    }

    .blog-share {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    .blog-share-item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 6px 8px 5px;
        border-radius: 50px;
        font-size: 10px;
        color: #fff;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
            box-shadow: 0 0 15px 0 rgba(#000, 0.2);
        }

        &.facebook {
            background-color: #0053A6;
        }

        &.twitter {
            background-color: #0082FB;
        }

        &.pinterest {
            background-color: #FF0000;
        }

        &.linkedin {
            background-color: #000;
        }

        svg, img {
            flex: 0 0 9px;
            max-width: 9px;
        }
    }

    .blog-detail-des {
        p {
            font-size: 18px;
            line-height: 1.67;
            margin-bottom: 17px;
        }

        img {
            margin: 7px 0 32px;
        }

        blockquote {
            margin: 18px auto 50px;
            max-width: 754px;
            background: url('../images/blockquote.svg') no-repeat #F2F0EA;
            background-size: 42px 32px;
            background-position: top 50px left 40px;
            border-left: 3px solid #CC010C;
            color: #CC010C;
            font-size: 16px;
            line-height: 1.5em;
            border-radius: 50px 4px;
            padding: 40px 20px 40px 120px;
        }

        h3 {
            font-size: 18px;
            font-weight: 800;
            line-height: 1.5em;
        }

        .images-grid {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;
            margin-bottom: 32px;
        }
    }
}

.blog-related {
    margin-bottom: 196px;
}

@include tablet {
    .blog-detail {
        .heading {
            h1 {
                font-size: 36px;
            }
        }
    }
}

@include landscape-phone {
    .banner-blog-detail {
        height: 312px;
    }

    .blog-detail {
        margin-bottom: 60px;
    }
    
    .blog-related {
        margin-bottom: 60px;
    }
    
}

@include extra-mobile {
    .banner-blog-detail {
        height: 150px;
    }

    .blog-detail {
        .heading {
            h1 {
                font-size: 32px;
            }
        }

        .blog-detail-des {
            p {
                font-size: 14px;
            }

            blockquote {
                font-size: 14px;
                padding: 20px 20px 24px 80px;
                background-size: 30px 24px;
                background-position: top 24px left 25px;
            }
        }
    }
}

@include small-mobile {
    .blog-detail {
        .blog-detail-des {
            .images-grid {
                grid-template-columns: 1fr;
            }
        }
    }
}