.recruit-card {
  display: grid;
  gap: 27px 59px;
  grid-template-columns: repeat(2, 1fr);
  .recruit-card-item {
    display: flex;
    align-items: flex-start;
    padding: 25px 50px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px #e5e2f680;
    gap: 9%;
    transition: all 0.35s ease;
    &:hover {
      transform: translateY(-10px);
    }

    .icon {
      flex: 0 0 72px;
      max-width: 72px;
    }

    .content {
      flex: 1;
      
      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
      }
      .content-flex {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
      }
      .address .address-content {
        line-height: 20px;
        margin-top: 10px;
      }
      .requirement {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        margin-top: 3px;
        .time {
          padding-right: 57px;
        }
      }
      .salary {
        margin-top: 3px;
      }
      .helper {
        font-weight: 600;
        margin-top: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        .status {
          font-size: 14px;
          line-height: 30px;
          font-weight: 600;
          &.active {
            color: $darkred;
          }
        }
        .read-more {
          font-size: 12px;
          line-height: 14.52px;
          padding: 8px 22.39px;
          color: #fff;
          text-transform: uppercase;
          overflow: hidden;

        }
      }

      .helper.inactive {
        .status {
          color: $text-grey;
        }
        .read-more {
          background-color: $bg-grey;
          pointer-events: none;
        }
      }
    }
  }
}

.position-recruit {
  .block-heading {
    p {
      max-width: 927px;
      margin: 0 auto;
    }
  }
  .recruit-card {
    margin-top: 13px;
    margin-bottom: 74px;
  }
  
  .show-more {
    margin-bottom: 155px;
    width: 100%;
    &::after {
      content: '';
      background-image: url('../images/icons/arrow-icon.svg');
      position: relative;
      z-index: 2;
      width: 12px;
      height: 9px;
    }
  }
}

@include tablet {
  .recruit-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include mobile {
  .recruit-card {
    .recruit-card-item {
      flex-direction: column;
      gap: 26px;
    }
  }
}
