.contact-us {
    .contact-form-wrap {
        display: flex;
        justify-content: space-between;
        gap: 30px 9%;
        margin-bottom: 136px;

        .line {
            flex: 0 0 5px;
            width: 5px;
            background-color: #F9F9F9;
            margin-top: 49px;
        }
    }

    .contact-form {
        flex: 0 0 50%;
        max-width: 50%;

        .form-required {
            text-align: right;
            font-size: 12px;
            font-weight: 300;
            line-height: 2em;
            margin-bottom: 25px;
            color: #383838;
        }

        .form-row {
            margin-bottom: 50px;
        }

        .submit {
            width: 100%;
        }
    }

    .contact-info {
        margin-top: 49px;

        .name {
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 20px;
        }

        .contact-info-item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                font-size: 14px;
                font-weight: 500;
                color: #000;
                margin-bottom: 5px;
            }

            p, a {
                font-size: 1rem;
                font-weight: 300;
                color: #383838;
            }
        }
    }

    .contact-map-wrap {
        display: flex;
        justify-content: space-between;
        max-height: 496px;
        min-height: 400px;

        .contact-banner {
            flex: 0 0 50%;
            max-width: 50%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .contact-map {
            flex: 0 0 50%;
            max-width: 50%;
            
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@include landscape-phone {
    .contact-us {
        .contact-form-wrap {
            flex-wrap: wrap;
            margin-bottom: 60px;

            .line {
                display: none;
            }
        }

        .contact-form {
            flex: 0 0 100%;
            max-width: 100%;

            .form-row {
                margin-bottom: 30px;
            }
        }

        .contact-info {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 30px;
        }

        .contact-map-wrap {
            .contact-banner {
                display: none;
            }

            .contact-map {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}