.position-recruit {
  .recruit-card {
    margin-top: 13px;
    margin-bottom: 74px;
    &-item {
      display: none;
    }
  }
  .show-more {
    margin-bottom: 155px;
    width: 100%;
    &::after {
      content: '';
      background-image: url('../images/icons/arrow-icon.svg');
      position: relative;
      z-index: 2;
      width: 12px;
      height: 9px;
    }
  }
}
