.products {
    margin-bottom: 187px;

    .block-heading {
        p {
            max-width: 927px;
            margin: 0 auto;
        }
    }

    .list-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 69px 60px;
    }

    .view-more {
        margin-top: 82px;

        a {
            width: 100%;
        }
    }
}

@include tablet {
    .products {
        margin-bottom: 60px;

        .list-product {
            gap: 60px 30px;
        }
    }
}

@include extra-mobile {
    .products {
        .list-product {
            gap: 60px 20px;
        }

        .view-more {
            margin-top: 40px;
        }
    }
}

@include small-mobile {
    .products {
        .list-product {
           grid-template-columns: 1fr;
        }
    }
}