.support-center {
  margin-bottom: 140px;

  h3.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  .popular-articles {
    .grid-card {
      margin-bottom: 63px;
      border: 1px solid #DBDBDB;
      border-radius: 15px;
    }

    .support-item {
      padding: 35px 39px;
      border: 1px solid #DBDBDB;

      &:first-child {
        border-radius: 15px 0 0 ;
      }

      &:nth-child(3) {
        border-radius: 0 15px 0 0;
      }

      &:nth-last-child(3) {
        border-radius: 0 0 0 15px;
      }

      &:last-child {
        border-radius: 0 0 15px 0;
      }

      .support-sub-title {
        font-size: 12px;
        font-weight: 500;
        color: #757575;
        margin-bottom: 7px;
        text-transform: uppercase;
      }

      .support-title {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.5em;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: unset;
      }
    }
  }

  .browse-articles {
    .grid-card {
      gap: 25px;
    }

    .browse-item {
      border: 1px solid #DBDBDB;
      border-radius: 15px;

      .browse-title {
        padding: 27px 21px 22px 39px;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .support-item {
      padding: 18px 50px 21px 39px;
      border-top: 1px solid #DBDBDB;
      background: url('../images/support-arow.svg') no-repeat;
      background-size: 7px 13px;
      background-position: right 21px center;

      .support-title {
        font-size: 1.125rem;
        line-height: 1.5em;
        
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: unset;
      }
    }
  }
}

@include tablet {
  .support-center {
    .popular-articles {
      .support-item {
        padding: 24px 20px;
      }
    }

    .browse-articles {
      .browse-item {
        .browse-title {
          padding: 18px 20px 20px;
          font-size: 18px;
        }
      }
      .support-item {
        padding: 18px 35px 20px 20px;
        background-position: right 15px center;

        .support-title {
          font-size: 1rem;
        }
      }
    }
  }
}

@include landscape-phone {
  .support-center {
    .popular-articles {
      .support-item {
        &:nth-child(2) {
          border-radius: 0 15px 0 0;
        }

        &:nth-child(3) {
          border-radius: 0;
        }

        &:nth-last-child(3) {
          border-radius: 0;
        }

        &:nth-last-child(2) {
          border-radius: 0 0 0 15px;
        }
      }
    }
  }
}

@include extra-mobile {
  .support-center {
    .popular-articles {
      .support-item {
        &:nth-child(2) {
          border-radius: none;
        }
        &:first-child {
          border-radius: 15px 15px 0 0 ;
        }

        &:nth-last-child(2) {
          border-radius: 0;
        }

        &:last-child {
          border-radius: 0 0 15px 15px;
        }
      }
    }
  }
}