.believe {
    padding: 95px 0 168px;
    background-color: #F9F9F9;
    margin-bottom: 95px;

    .block-heading {
        p {
            max-width: 780px;
            margin: 0 auto 15px;
        }
    }

    .believe-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 27px;
    }

    .believe-item {
        background-color: #fff;
        border-radius: 5px;
        padding: 52px 15px 40px;
        text-align: center;
        box-shadow: 0 0 30px 0 rgba(#E5E2F6, 0.5);
        transition: all 0.35s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 30px 0 rgba(#000, 0.1);
        }

        .believe-icon {
            height: 84px;
            margin-bottom: 35px;
        }

        .believe-title {
            font-size: 1.125rem;
            font-weight: 700;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        p {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.625em;
            
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            white-space: unset;
        
        }
    }
}

.our-journey {
    margin-bottom: 129px;

    .our-journey-content {
        display: flex;
        justify-content: space-between;
        gap: 20px 10%;
        margin-bottom: 73px;

        p {
            font-size: 1rem;
            line-height: 1.75em;
            font-weight: 300;
            flex: 1;
            
            &:first-child {
                max-width: 507px;
                padding-left: 4.5%;
            }

            &:nth-child(2) {
                max-width: 535px;
            }
        }
    }

    .our-jouney-imaage {
        img {
            border-radius: 6px;
        }
    }
}

@include min-desktop {
    .our-journey {
        .block-heading {
            .title {
                font-size: 30px;
            }
        }
    }
}

@include tablet {
    .believe {
        margin-bottom: 60px;
        padding-bottom: 100px;

        .believe-list {
            grid-template-columns: 1fr 1fr;
        }
    }

    .our-journey {
        margin-bottom: 60px;

        .our-journey-content {
            margin-bottom: 40px;
        }
    }
}

@include landscape-phone {
    .believe {
        padding: 60px 0;
    }
}

@include extra-mobile {
    .our-journey {
        .our-journey-content {
            flex-wrap: wrap;

            p {
                flex: 0 0 100%;
                max-width: 100%;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}