.mission-vision {
    .mission-vision-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12.9%;
        margin-bottom: 175px;

        &.vision {
            flex-direction: row-reverse;

            .image {
                &:before {
                    left: 30%;
                    bottom: -40px;
                    width: 23px;
                    height: 23px;
                    border-radius: 50%;
                    background-color: $orange;
                   
                }

                &:after {
                    background-color: $orange;
                    left: 0;
                    bottom: 0 ;
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    transform: translate(-20%, 50%);
                }
            }
        }

        &.mission {
            .image {
                &:before {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #F9E1D6;
                    border-radius: 20px;
                    transform: translateX(20px) rotate(-4deg);
                }

                &:after {
                    background-color: $darkred;
                    right: 58px;
                    bottom: 0 ;
                    width: 93px;
                    height: 93px;
                    border-radius: 50%;
                    transform: translateY(50%);
                }
            }
        }


        .image {
            position: relative;
            flex: 0 0 45%;
            max-width: 520px;

            &:before {
                content: '';
                position: absolute;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: 2;
            }

            img {
                position: relative;
            }
        }

        .content {
            h3 {
                font-size: 28px;
                font-weight: 700;
                line-height: 1.5em;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.67em;
            }
        }
    }

    .mission-vision-content {
        max-width: 966px;
        margin: 0 auto;
    }
}